# Default: everything needs at least one review from these users
# Tech lead: Pedro Ignacio Errico
# Devs: Agustín Firpo, Azul Ninaja, Lucio Palmucci, Reyna María Paz Celiz, Muhdin Mussema, Ernest Mukaru
*	@ignacioerrico	@Agusfirpo	@AzulNinaja	@LucioPalmucci	@reynamariapazceliz23-cyber	@mudin9838	@mukaruernest