@using Fonbec.Web.DataAccess.Entities
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@inject SignInManager<FonbecWebUser> SignInManager

@if (_externalLogins.Length > 0)
{
    <div class="@Class">
        <MudDivider Class="mb-4" />
        <MudText Typo="Typo.body2" Align="Align.Center" Class="mb-4 mud-text-secondary">
            O iniciá sesión con otro servicio
        </MudText>

        <form action="Account/PerformExternalLogin" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <MudStack Spacing="2">
                @foreach (var provider in _externalLogins)
                {
                    <button type="submit"
                            class="mud-button-root mud-button mud-button-outlined mud-button-outlined-primary mud-ripple mud-width-full"
                            name="provider"
                            value="@provider.Name">
                        @provider.DisplayName
                    </button>
                }
            </MudStack>
        </form>
    </div>
}

@code {
    private AuthenticationScheme[] _externalLogins = [];

    [Parameter]
    public string? ReturnUrl { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }
}
