@page "/Account/AccessDenied"

<PageTitle>Acceso denegado</PageTitle>

<MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">Acceso denegado</MudText>
<MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Class="mt-4">
    No tenés permiso para acceder a este recurso.
</MudAlert>

<div class="auth-layout__links mt-6">
    <MudLink Href="">Ir al inicio</MudLink>
</div>
