@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Correo enviado</PageTitle>

<MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">Revisá tu correo</MudText>
<MudText Typo="Typo.body2" Align="Align.Center" Class="mb-6 mud-text-secondary">
    Si el correo está registrado, recibirás un enlace para restablecer tu contraseña.
</MudText>

<div class="auth-layout__links">
    <MudLink Href="Account/Login">Volver al inicio de sesión</MudLink>
</div>
