@attribute [Authorize]

<PageTitle>Filiales</PageTitle>

<div style="width: fit-content;">
    <MudText Typo="Typo.h3" GutterBottom="true">Alta de Filial</MudText>

    <MudForm @ref="_form">
        <MudTextField @bind-Value="_nombre" Label="Nombre" Required="true" RequiredError="Se debe específicar el nombre." Margin="Margin.Normal" Variant="Variant.Text" Immediate="true" Class="mb-4" />
        <div style="flex-direction: row;">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CrearFilial" Disabled="@(string.IsNullOrWhiteSpace(_nombre))" Style="width: fit-content;">
                CREAR
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="Cancelar" Style="width: fit-content;">
                CANCELAR
            </MudButton>
        </div>
    </MudForm>
</div>
